<a href="https://colab.research.google.com/github/mahshid-khojandi/python-for/blob/main/python_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The for loop in Python is used to iterables through sequences or other iterable objects to access individual items.

In [ ]:
# syntax:
# for [val] in [sequence]:
#    [do something]

In [1]:
names = ['a', 'b', 'c', 'd']
for name in names:
	print(name)

a
b
c
d

With Python's range function, we can create a sequence of numbers

range(start, stop, step)

In [3]:
genre = ['pop', 'rock', 'jazz']
for i in range(len(genre)):
    print("I like", genre[i])

I like pop
I like rock
I like jazz

In [2]:
numbers = [1, 2, 3]

for i in numbers:
    print(i)
else:
    print("No items left.")

1
2
3
No items left.

**Nested** **for** **loop** **in** **Python**

Nested loops are called loops that are inside each other
The way the nested loop works is that every time the outer loop rotates, the inner loop completes its rotations.

In [5]:
n = ["1", "2", "3"]
fruits = ["apple", "banana", "cherry"]

for x in n:
    for y in fruits:
        print(x, y)

1 apple
1 banana
1 cherry
2 apple
2 banana
2 cherry
3 apple
3 banana
3 cherry

In Python, you can use the **continue** command to skip one round of the loop and go to the next round of the loop.

In [6]:
for number in range(1, 11):
    if number % 2 == 0:
        continue
    print(number)

1
3
5
7
9

The **break** command stops the execution of the entire for loop

In [7]:
animals = ["monkey", "lion", "elephant", "rhino", "jackal"]
for animal in animals:
    if animal == "elephant":
        print("elephant found. Terminating the loop")
        break
    print(animal)

monkey
lion
elephant found. Terminating the loop